<app-loader [loading]="isLoading"></app-loader>

<div class="container">
  <h1 class="title">{{isEditMode ? 'Edit Role' : 'Add New Role'}}</h1>
    <!-- <p class="form-subtitle">{{isEditMode ? 'Edit Role Details' : 'Fill in the details to create a new Role '}}</p> -->

  <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">

    <!-- Role Name -->
    <div class="form-group">
      <label for="roleName">Role Name *</label>
      <input id="roleName" formControlName="roleName" type="text" class="form-control" placeholder="Enter role name"
       autocomplete="off" 
           maxlength="50"
      >
     <div
    *ngIf="roleForm.get('roleName')?.invalid && roleForm.get('roleName')?.touched"
    class="text-danger"
  >
    <div *ngIf="roleForm.get('roleName')?.hasError('required')">Role Name is required.</div>
    <div *ngIf="roleForm.get('roleName')?.hasError('minlength')">Role Name must be at least 2 characters.</div>
    <div *ngIf="roleForm.get('roleName')?.hasError('maxlength')">Role Name cannot exceed 50 characters.</div>
    <div *ngIf="roleForm.get('roleName')?.hasError('pattern')">Role Name cannot contain consecutive spaces or special characters.</div>
  </div>

    </div>

    <!-- Short Description -->
    <div class="form-group">
      <label for="shortDescription">Short Description *</label>
      <input id="shortDescription" formControlName="shortDescription" type="text" class="form-control" placeholder="Enter short description"
       autocomplete="off" 
           maxlength="100"
      >
   <div
    *ngIf="roleForm.get('shortDescription')?.invalid && roleForm.get('shortDescription')?.touched"
    class="text-danger"
  >
    <div *ngIf="roleForm.get('shortDescription')?.hasError('required')">Short Description is required.</div>
    <div *ngIf="roleForm.get('shortDescription')?.hasError('minlength')">Short Description must be at least 4 characters.</div>
    <div *ngIf="roleForm.get('shortDescription')?.hasError('maxlength')">Short Description cannot exceed 100 characters.</div>
    <div *ngIf="roleForm.get('shortDescription')?.hasError('pattern')">Short Description cannot contain consecutive spaces or special characters.</div>
  </div>
    </div>

    <!-- Status -->
    <div class="form-group">
      <label for="status">Status *</label>
      <select id="status" formControlName="status" class="form-control">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>

    <!-- Select/Unselect All Buttons -->
    <div class="select-buttons">
      <button type="button" class="cancel-btn" (click)="selectAllPermissions()">Select All</button>
      <button type="button" class="cancel-btn" (click)="unselectAllPermissions()">Unselect All</button>
    </div>

    <!-- Permissions -->
    <div class="permissions-section" formArrayName="permissions">
      <h3>Permissions</h3>

      <div *ngFor="let perm of permissionsArray.controls; let i = index" [formGroupName]="i" class="permission-card">

        <div class="permission-header" (click)="toggleExpand(i)">
          <div>{{ perm.get('permissionName')?.value }}</div>

          
          <span class="toggle-icon">{{ expandedPermissions.has(i) ? '−' : '+' }}</span>
        </div>

        <div class="permission-options" *ngIf="expandedPermissions.has(i)">
          <div class="toggle-group">
            <div class="toggle-item">
              <label class="switch">
                <input type="checkbox" formControlName="list">
                <span class="slider"></span>
              </label>
              <span class="toggle-label">List</span>
            </div>
            <div class="toggle-item">
              <label class="switch">
                <input type="checkbox" formControlName="add">
                <span class="slider"></span>
              </label>
              <span class="toggle-label">Add</span>
            </div>
            <div class="toggle-item">
              <label class="switch">
                <input type="checkbox" formControlName="edit">
                <span class="slider"></span>
              </label>
              <span class="toggle-label">Edit</span>
            </div>
            <div class="toggle-item">
              <label class="switch">
                <input type="checkbox" formControlName="delete">
                <span class="slider"></span>
              </label>
              <span class="toggle-label">Delete</span>
            </div>
          </div>
        </div>

      </div>
    </div>

        <div class="form-actions">
       <button type="button" class="cancel-btn" routerLink="/roles">Cancel</button>
      
      <button type="submit" class="submit-button" [disabled]="isLoading">
        <span *ngIf="!isLoading">{{isEditMode ? "Update Role": "Add Role"}}</span>
        <span *ngIf="isLoading">
          <span class="spinner"></span>
          {{isEditMode ? "Updating Role": "Creating Role"}}...
        </span>
      </button>
    </div>

  </form>
</div>
